@import '../../../assets/scss/common';

.expend{
    width: 100%;
    padding: px2rem(20px) px2rem(30px);
    box-sizing: border-box;
    .list{
        width: 100%;
        .item{
            width: 100%;
            height: px2rem(150px);
            background: #fff;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: px2rem(20px);
            &:last-child{
                margin-bottom: 0;
            }
            .itemImg{
                width: px2rem(200px);
                height: px2rem(150px);
            }
            .itemRight{
                width: 100%;
                height: px2rem(150px);
                padding:0 px2rem(20px);
                box-sizing: border-box;
                display: flex;
                flex-flow: column;
                justify-content: space-around;
                align-items: center;
                .item_name{
                    width: 100%;
                    color: $FF9000;
                    font-size: px2rem(30px);
                    font-weight: bold;
                    .name_span{
                        font-size: px2rem(24px);
                        color: #1A1A1A;
                    }
                }
                .item_number,.item_date{
                    width: 100%;
                    border-bottom: solid 1px $F0EFF4;
                    color: #AAAAAA;
                    font-size: px2rem(22px);
                }
                .item_number{
                    border-bottom: solid 1px $F0EFF4;
                }
            }
        }
    }
}